textarea{
height: 10rem;
width: 100%;
font-weight: 500;
font-size: clamp(0.1rem, 10vw, 1rem);
border-radius: 10px;
border: solid 2px rgb(95, 95, 95);
resize: none;
    &:focus{
        outline: none;
    }
}