#content-wrap {
  display: flex;
  flex-direction: column;
      #content {
        display: flex;
        flex-direction: column;
        margin-top: 8vh;
        height: 92vh;
        background-color : hsl(228deg, 33%, 97%)
    }
  }
  