.search {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 10vw;
    position: absolute;
    left: 50vw;
    top: 15vh;
    &__bar {
      display: flex;
      align-items: center;
      background-color: #EDEDED;
      width: fit-content;
      border-radius: 10px;
      height: 30px;
      &__input {
          background: none;
          border: none;
          width: 33vw;
      }
      &__button {
        color: black;
        background: none;
        width: 40px;
        &:hover {
            background: none;
        }
      }
    }
    &__error {
        color: red;
    }
  }